[2018-02-16 22:24] bkonyi opened #31 "DRAW does not handle paths with '~' correctly."
Dart can't handle the resolution of '~' in paths out of the box. We should either check for '~' in paths and replace it with $HOME or describe this in the docs as a limitation.

[2018-02-19 02:54] bkonyi opened #35 "Tests in comment_test.dart are skipped on Windows"
The tests in comment_test.dart are skipped on Windows due to issues with line endings.

[2018-02-19 02:55] bkonyi commented on #31
@ckartik: As discussed offline, this is low priority unless someone *really* wants it.

[2018-03-03 21:55] PiwwowPants opened #37 "DRAW 0.0.1 is the latest version available when running "flutter packages get""
When adding draw as a pubspec dependency (using Flutter), the latest version found is 0.0.1.
To get 0.0.3, it must be cloned from GitHub (or just getting the pub archive) and included as a local dependency

[2018-03-03 22:24] PiwwowPants opened #38 ""OS not Recognized by Draw" thrown when attempting to run on Android"
In the config_file_reader._getUserConfigPath() method, a check occurs for macOS, Linus, and Windows. When run on Android (and presumably iOS), all checks will fail and it will fall through to throwing an error.
This makes usage with Flutter a non-option.

Additional checks should be added for Platform.isAndroid and Platform.isIOS

[2018-03-03 22:54] bkonyi commented on #38
Thanks for the report @PiwwowPants, I'll look into this ASAP!

[2018-03-03 22:56] bkonyi commented on #37
Would you mind sharing your pubspec with me? I haven't tried adding it as a dependency for Flutter before, but this did work with my [moderation demo](https://github.com/bkonyi/Toxicity-Moderator/blob/master/pubspec.yaml) from DartConf 2018.

[2018-03-03 23:31] PiwwowPants commented on #37
Sure. It's just straight out of the example from the first flutter generation

[code]

[2018-03-03 23:38] bkonyi commented on #37
Thanks for posting that. Just curious, what platform is this on? I'll look into all of this today.

[2018-03-03 23:43] PiwwowPants commented on #37
Windows 10 1803 17112.1.
Targeting Android with Gradle 3.0.1 for building (doesn't get that far anyway)

[2018-03-04 03:47] bkonyi commented on #37
That was odd. I'm not sure why that didn't work, but I've gone ahead and published version 0.1.0 with `package:quiver` rolled to the same version as `flutter_test`. I've successfully pulled DRAW using `flutter package upgrade` so I think this is fixed now. Please let me know if you're still having issues!

[2018-03-04 03:47] #37 closed

[2018-03-04 04:13] #38 closed

[2018-03-04 04:15] bkonyi commented on #38
@PiwwowPants, I've landed a workaround for this. If you're not planning on using a `draw.ini`, you should be able to authenticate properly now using `Reddit.createInstance` using your credentials there.

[2018-03-08 00:39] bkonyi opened #41 "Add code coverage tracking"
We should enable code coverage tracking similar to that found in flutter/flutter, which uses [coveralls.io](https://www.coveralls.io).

[2018-03-22 22:14] Ivaskuu opened #43 "Authenticating with an installed app, app type"
Hi!

How could I init DRAW if I have an installed app type for reddit? Does DRAW support this type of app?
I've tried the base Reddit.createInstance and specifying only the clientId, redirectUri and userAgent, but it doesn't seem to work.

For instance, this is what I am trying to get:
![Example](https://i.gyazo.com/0325534f38b78c1dbd4c84d690dda6c2.png)

Thank you for the plugin, and for the help.

[2018-03-23 02:43] bkonyi commented on #43
Hi @Ivaskuu,

Thanks for the issue! It looks like there's some potential issues with providing the arguments to `Reddit.createInstance` but we can get around this for now using a `draw.ini` configuration file. Here's some example code:

[code]

And here's an example `draw.ini` suitable for web based authentication:

[code]

The format of `draw.ini` configuration files is very similar to that of [p

[2018-03-23 19:08] bkonyi opened #44 "edited property in Comment and Submission sometimes returns a double"
If a `UserContent` object hasn't been edited, its `edited` property is set to `false`. However, if it has been edited this property is a `double` representing the time the edit was made. We need to account for this in `Comment` and `Submission`.

[2018-03-24 12:27] Ivaskuu commented on #43
Excuse me, @bkonyi, but in your example, `reddit.auth` doesn't have a an url() or authorize() method..
Upon further investigation, I've discovered that Reddit.auth returns an Authenticator object, and not a WebAuthenticator. I've tried messing with WebAuthenticator but can't understand how to instance it or make it work... :(

[2018-03-24 14:57] bkonyi commented on #43
I'm guessing you're using an IDE like Intellij or Visual Studio Code? If so, you might see the errors under those lines (I should update the base Authenticator to have `url()` and `authorize()` which throw an unsupported error for other authentication types). `Reddit.createInstance()` returns an `Authenticator`, which is a super-type of `ScriptAuthenticator`, `ReadOnlyAuthenticator`, and `WebAuthe

[2018-03-31 15:17] Ivaskuu opened #46 "CompactLogin throws an error when auth.url()"
[code]
gives me an error:
[code]

![image](https://user-images.githubusercontent.com/28832159/38164572-f9a6941e-3506-11e8-8266-c86ad8da10e4.png)

It works fine if I remove `compactLogin: true`

[2018-03-31 15:48] Ivaskuu opened #47 "No way to restore saved credentials when using WebAuthenticator flow"
How can I save the current accessToken (or the refreshToken) when the user closes the app, and reuse it the next time the user opens the app without going again through the authentication browser where the user needs to insert the username and password?

[2018-03-31 15:57] bkonyi commented on #46
Hi @Ivaskuu, thanks for filing an issue. I'll look into this today.

[2018-03-31 16:04] bkonyi commented on #47
You should be able to get the OAuth2 credentials from the `Authenticator`'s `credentials` [property](https://pub.dartlang.org/documentation/draw/0.1.3/draw/Authenticator/credentials.html). To save, you should be able to do something like this [example](https://pub.dartlang.org/documentation/oauth2/1.2.0/), but there currently isn't a way to repopulate them through DRAW's API (a major oversight of

[2018-03-31 16:45] bkonyi commented on #46
This should be fixed as of #48. I've published the change to pub under version 0.1.4, which should now be available.

[2018-03-31 16:45] #46 closed

[2018-03-31 20:34] Ivaskuu opened #49 "Can't get a submission comments"
This is my code:
[code]
And this is the error:
[code]

Where `ApiReddit.test (/data/user/0/com.skuu.focusreddit/cache/focus_redditQGUIDF/focus_reddit/lib/misc/api_reddit.dart:80:47)` is `List<Comment> comments = s.comments.comments;`.

Am I doing something wrong?

[2018-03-31 23:04] bkonyi commented on #49
If I'm not mistaken, the issue is you're trying to get the property
`comments` from a `List<Comment>`. Should probably only be `s.comments`

On Sat, Mar 31, 2018, 1:34 PM Ivascu Adrian, <notifications@github.com>
wrote:

[2018-04-01 02:32] #44 closed

[2018-04-01 08:14] Ivaskuu commented on #49
@bkonyi s.comments actually returns a CommentForest object..?

[2018-04-01 17:02] bkonyi commented on #49
Ah sorry about that, clearly I didn't read my own documentation (wasn't at my desk). Yeah, this looks like a bug with how we create `Submission` objects in certain cases. A temporary workaround for this is to change this line:

[code]

to this:

[code]

Unfortunately, this is an extra network request but I'll have to look into whether or not we can get around that. Also, keep in mind, `comments` c

[2018-04-01 17:03] bkonyi opened #50 "Documentation for comment_forest.dart is not exported"

[2018-04-02 00:28] #49 closed

[2018-04-02 00:28] #50 closed

[2018-04-04 01:15] bkonyi commented on #47
This should be resolved once #52 is merged.

[2018-04-04 16:52] #47 closed

[2018-04-04 16:53] bkonyi commented on #47
Fix is available in version 0.1.5

[2018-04-07 19:40] Ivaskuu opened #53 "How to get the user frontpage ?"
Hi.
I am trying to get the user frontpage. With **PRAW**, after a little search on the Praw docs I've found out that the command is `reddit.front.hot()`, but Draw doesn't seem to have the front property for the Reddit object.
I have tried:
[code]
but this gives an error when calling ` rdt.hot()` at line 76:
[code]
Whereas `reddit.subreddit('python').hot()`, for example, works with no problems. I c

[2018-04-08 18:24] bkonyi commented on #53
I've released 0.1.6 with this functionality. Thanks for the reports and your patience @Ivaskuu! It's a big help.

[2018-04-08 18:24] #53 closed

[2018-04-13 16:55] bkonyi opened #55 "Support draw.ini configurations on Fuchsia"
Currently when we try to find a draw.ini configuration we bail out on Fuchsia and fall back to the arguments provided to `Reddit.createInstance`. This is low priority since there really isn't anyone targeting Fuchsia at this time.

[2018-04-16 07:45] Ivaskuu opened #59 "How to check if a post is already upvoted?"
I've searched on the internet, and it seems it's the `likes` attribute in the reddit api.

[2018-04-16 07:47] Ivaskuu opened #60 "Reddit class doesn't have comment attribute"
To get a post by id I do:
[code]
But there doesn't seem to be a way to do this for a comment.

[2018-04-16 23:44] bkonyi commented on #60
You're correct, that's not implemented yet. I'll do this tonight.

[2018-04-16 23:51] bkonyi commented on #59
Looks like this might be a property for `Comment` but not `Submission`. Will take a look.

[2018-04-17 01:51] bkonyi commented on #60
Looks like this is a bit more involved than I thought. I'll get to this sometime tomorrow.

[2018-04-18 02:49] bkonyi opened #61 "CommentForest.length does not include entries expanded from MoreComments"
This needs to be fixed and additional tests need to be written for comment related functionality.

[2018-04-23 01:43] #59 closed

[2018-04-23 01:45] #60 closed

[2018-04-24 22:46] bkonyi commented on #41
Started work on this.

[2018-04-25 03:27] bkonyi opened #64 "Improve code coverage"
With overall code coverage low, more tests need to be written to better exercise error cases

[2018-04-25 03:49] bkonyi commented on #41
`dartfmt` check is failing.

[2018-04-26 05:48] bkonyi opened #67 "Remove call to sleep() in util.dart"
Should probably be replaced by a `Future.delayed` instance so that we don't actually halt execution on the main isolate.

[2018-04-26 12:18] KirkBushman opened #68 "Ability to login as Installed Application OAuth2?"
Hi, I've taken a look at the lib and it looks like you can only use it as WebApp or ScriptApp.

I wish to use it in Flutter: is there a plan to add a new method of login that uses UUID and not a secret? or is this lib pure dart only?

Thanks in advance for the answer.

[2018-04-26 19:15] bkonyi commented on #68
Hi @KirkBushman! Thanks for the question.

For Flutter, you'll want to use the WebAuthenticator flow described in the README as this allows for a user to authenticate via a Reddit login page and accept the permissions requested by your application. After the user accepts the permissions requested, a token is provided in the redirect URL which then needs to be passed back to Reddit to obtain an OAu

[2018-04-26 19:15] #68 closed

[2018-05-02 06:24] Ivaskuu opened #74 "Some errors with variables types with Dart 2"
I've updated Flutter to the new recent beta, and there seems to be some erorrs...

[code]

My code calls `Redditor me = await reddit.user.me();`

And here another one
[code]

My code is calling
`RedditApi.reddit.front.hot();`

[2018-05-02 17:01] bkonyi commented on #74
Looks like there needs to be some relatively involved changes to make the Dart 2 type system happy. In the meantime, pass `--no-preview-dart-2` to `flutter`. Unfortunately, this will prevent you from using Dart 2 features like optional `new` and `const`, but hopefully this won't take more than a few days to resolve.

[2018-05-07 00:50] #74 closed

[2018-05-23 22:49] Ivaskuu opened #84 "Application Only Oauth"
Hi,

I would like to know if Draw supports Application Only Oauth, which seems to be browsing Reddit without logging in, providing read-only scopes.

Link for reference: https://github.com/reddit-archive/reddit/wiki/OAuth2#application-only-oauth

Thanks :grin:

[2018-05-30 11:41] hundeva commented on #84
Agreed, providing a default view without logging in a user would help a lot in terms of UX!

[2018-05-30 17:33] bkonyi commented on #84
I'll add this shortly. Sorry for the delay so far! I'll try to get something out this week but will for sure have this done by mid next week.

[2018-05-30 18:47] hundeva commented on #84
No worries, I just started to play around with the idea of a reddit client written in Flutter. Thought it would be an awesome learning project, I can just force a login for a while anyway!

[2018-05-30 20:06] bkonyi commented on #84
Awesome! I plan on doing some Flutter development for Reddit as well eventually, but I need to finish up the majority of the work on DRAW first. I've been unfortunately busy with work, so I haven't had a chance to finish things up. Soon though!

[2018-06-08 23:37] bkonyi commented on #84
Sorry for the delays. Was pretty burnt out and needed some time away from the screen.

PR #83 has the change for application only OAuth, both trusted and untrusted.

[2018-06-08 23:47] bkonyi commented on #84
This is now resolved in DRAW version 0.3.3. Update your `pubspec.yaml` and run `pub get` to get the latest version!

[2018-06-08 23:47] #84 closed

[2018-06-09 23:09] #67 closed

[2018-07-08 21:20] #35 closed

[2018-08-08 04:31] Heasummn opened #99 "No support for preview attribute of submission"
At the moment there is no support for the preview attribute of a submission. This doesn't seem like it would be too difficult to implement as it is similar to the thumbnail.

[2018-08-08 17:03] bkonyi commented on #99
Thanks for the suggestion @Heasummn! I'll take a look and get that added for you.

In the meantime, I'm fairly certain you should be able to pull this value out of the `data` property for the submission (although I'm not certain which key it would be under).

[2018-08-22 17:37] TheNightmanCodeth opened #100 "Calling refreshComments throws a failed assertion error"
I have this method:

  CommentForest comments = await submission.refreshComments();
  return comments;
}

For some reason when I use the CommentForest returned by it I'm always receiving this error:

I remove the assert on line 38 and the problem is gone. Anyone have any ideas why this might be happening?

[2018-08-30 23:10] TheNightmanCodeth commented on #99
I'm accessing the preview property like so:
`post.data["preview"]["images"][0]["source"]["url"]`
just swap out the `0` for the resolution you want. 0 is full resolution, up to (i think) 4 which is the smallest size. However, the preview property is sometimes not available. Some subreddits can choose to have the feature disabled by default so if you're using an unauthorized client, or your user doe

[2018-09-02 00:42] bkonyi commented on #100
@TheNightmanCodeth, do you happen to have the exact submission this happened for? Also, when you say you use the `CommentForest` what do you mean by that exactly? How are you interacting with the `CommentForest`?

[2018-09-02 01:57] bkonyi commented on #99
Sorry for the delay on this. I've published version 0.4.0 which includes a `preview` property in `Submission`. It looks like the Dart 2.0 release broke a couple of dependencies that haven't updated their SDK constraints, so it looks like `dartdoc` won't generate the documentation. Take a look [here](https://github.com/draw-dev/DRAW/blob/master/lib/src/models/submission_impl.dart#L205) for the sign

[2018-09-02 01:57] #99 closed

[2018-09-03 17:16] TheNightmanCodeth commented on #100
I don't have the exact submission, but for some reason I haven't run into this problem since it happened. I'll update if I run into it again.

[2018-09-03 17:20] TheNightmanCodeth opened #102 "Pub version conflicts"
This is what my local machine complains about when I run it. On `pub.dartlang.org`, a similar error is displayed [here.](https://pub.dartlang.org/documentation/draw/latest/log.txt)

How can this be? I check both `color` and `ini` pubspec files and neither of them require a dart SDK less than 2.0.

[2018-09-03 17:41] bkonyi commented on #102
Both the `color` and `ini` packages haven't had their SDK versions updated since the Dart 2 release which is causing this issue. I've filed an issue for the color package (MichaelFenwick/Color#21) but I'm afraid the ini package is probably no longer maintained so I'll have to create a fork with the updated version.

In the meantime, you should be able to add the following to your pubspec.yaml to g

[2018-09-03 18:07] TheNightmanCodeth commented on #102
That fixed it for me, thanks!

[2018-09-03 18:29] bkonyi commented on #102
Glad that fixed it! I'll reopen this for now until the underlying issue is fixed just so I don't forget.

[2018-09-03 20:33] TheNightmanCodeth opened #104 "i.redditmedia.com links need to unescape &amp;"
For example, this link:

which was returned by a `submission.preview`, will return a `403` error. Remove all of the `amp;` and we get:

which works properly.

For now I'm calling `.replaceAll("amp;", "")` on my urls but I see no reason why this can't be done in the actual `SubmissionPreview` implementation

[2018-09-03 23:12] bkonyi commented on #102
I've gone ahead and forked `ini` and `color` and updated the pubspec.yaml to point to those forks instead. You should be able to get rid of the dependency overrides after you update to version 0.4.1.

[2018-09-03 23:12] #102 closed

[2018-09-03 23:13] bkonyi commented on #100
Sounds good to me. I'll close this for now, but if you see it again please feel free to reopen.

[2018-09-03 23:13] #100 closed

[2018-09-09 16:43] LucasCLuk opened #106 "Quiver 2.0 Incompatibility."
The current version of DRAW `0.4.1` is not compatible with quiver 2.0

`Because every version of flutter_test from sdk depends on quiver 2.0.0+1 and draw >=0.3.0 depends on quiver >=0.26.2 <1.0.0, flutter_test from sdk is incompatible with draw >=0.3.0.`

[2018-09-09 21:42] bkonyi commented on #106
I'll bump the version for quiver in the next release which should be out today or tomorrow. In the meantime, you can probably get around the issue for now by adding a fixed version number for quiver under the `dependency_overrides` section of your `pubspec.yaml`.

[2018-09-10 02:30] LucasCLuk commented on #106
Alright. Thanks

[2018-09-10 02:30] #106 closed

[2018-09-10 18:10] bkonyi commented on #104
This is fixed in the master branch and will be part of the next release (probably sometime today).

[2018-09-11 05:27] bkonyi commented on #104
Fixed in 0.4.2

[2018-09-11 05:27] #104 closed

[2018-09-19 22:22] LucasCLuk opened #112 "Unable to catch SocketException caused by lack of internet"
Ive been at this for a few hours trying to figure it out and I'm stuck.

I've currently only tested this with ``Reddit.createUntrustedReadOnlyInstance`` so I'm not sure of other methods.

doing:
[code]
still spams the console
and even not using await and doing ``onError`` or ``.catchError`` still bubbles up to the console.

[code]

[2018-09-24 00:35] bkonyi commented on #112
Should be resolved now. Will publish in 0.4.3. Thanks for filing this!

[2018-09-24 00:35] #112 closed

[2018-11-01 23:47] bkonyi opened #123 "Error responses may be ignored if `discardResponse` is provided"

[2018-11-26 06:14] Murtaza0xFF commented on #68
How do you go about capturing the code from the redirect URL?

[2019-02-02 20:44] bkonyi commented on #43
Ah, this must have been an oversight on my part when I made individual static methods for each authentication type to replace the catch-all `createInstance` method. I'll add a `createInstalledAppInstance` method which does what you suggest. Thanks!

[2019-02-10 21:35] 1nv1n opened #128 "DRAWAuthenticationError: Status Code: unauthorized_client Reason: null"
I'm running into `DRAWAuthenticationError: Status Code: unauthorized_client Reason: null`.

Full log:
[code]

I'm using this (or trying to), the way described:
[code]

What am I doing incorrectly here?

PubSpec details:
`draw: ^0.4.6`
`dart sdk: ">=2.1.0-dev.9.4.flutter-f9ebf21297 <3.0.0"`

[2019-02-13 20:56] bkonyi commented on #128
Hi @1nv1n, thanks for the report.

Assuming your credentials are correct, have you tried changing your `userAgent`? I'll investigate further to see if I can reproduce myself.

[2019-02-15 21:03] kevinespaldon commented on #128
I've encountered this earlier, the problem was that I was putting the wrong credentials.

[2019-02-15 21:08] kevinespaldon opened #129 "Getting an exception on createScriptInstance"
I'm getting an error when calling createScriptInstance

Here's the exception:

`
   [VERBOSE-2:ui_dart_state.cc(148)] Unhandled Exception: type 'Future<void>' is not a subtype of type 'Redditor'
   #0      main
   package:sirena/main.dart:35
   #1      _runMainZoned.<anonymous closure>.<anonymous closure> (dart:ui/hooks.dart:170:23)
   #2      _rootRun (dart:async/zone.dart:1124:13)
   #3      _Cu

[2019-02-15 21:42] bkonyi commented on #129
Thanks for filing the issue @kevinespaldon!

Would you mind showing me what's actually at line 35 in your main.dart? It's hard to tell what's happening since the exception isn't coming from within the package.

[2019-02-15 23:50] 1nv1n commented on #128
Hey @bkonyi & @kevinespaldon , thanks for responding. I've just double-checked that I'm using the correct username & password. Copy-pasted the same & was able to log into Reddit in a browser.

I tried updating the `userAgent` as well; no luck. Same stacktrace as well. Is there anything else that I could try?

[2019-02-16 05:44] kevinespaldon commented on #129
I've put it in a gist for you. Line 35 is actually runApp

[2019-02-16 05:49] kevinespaldon commented on #129
When I remove the parameter of `redditor` from my stateful widget, the exception isn't fired anymore so I might be doing something wrong. Sorry about opening an issue, it's on me. 😬Just exploring flutter and creating a reddit app seems interesting so I stumbled upon your package and started exploring.

Now that I have you, can you suggest a way to pass the current Redditor object into inherited wi

[2019-02-22 15:29] StefanLobbenmeier opened #131 "Submission needs an entry to access data['media']"
Basically before that https://github.com/draw-dev/DRAW/blob/79bbb9d5272bfef6a581abda174d82bb2d7e5b20/lib/src/models/submission_impl.dart#L204. Is there any reason some of the data fields (e.g. media) do not have getters? We should also think about which type it would have, since the content of that field can vary. Examples:

[code]

[2019-02-22 15:40] StefanLobbenmeier commented on #131
This is probably linked to this: https://github.com/praw-dev/praw/issues/726

[2019-02-24 01:24] bkonyi commented on #131
Thanks for the issue @StefanLobbenmeier!

The reason why there's not getters for each property is that Reddit doesn't have a complete listing of the possible properties and the API doesn't consistently return the same properties for each request. The getters that are there are the ones which I've seen consistently, but they're by no means a complete set.

Do you happen to know what the different t

[2019-02-24 01:30] bkonyi commented on #129
@kevinespaldon, it looks like you're doing something wrong for the `runApp` call. `runApp` expects a `Widget` input and you're passing in a `RedditorRef` (see [here](https://docs.flutter.io/flutter/widgets/runApp.html) for `runApp` documentation).

In all honesty, I'm not sure how to pass data into inherited widgets. I may be a contributor to the Flutter project, but I haven't really used it much

[2019-02-24 01:30] #129 closed

[2019-03-15 12:52] StefanLobbenmeier opened #135 "submission.refreshComments can not be sorted"
Example:
[code]

will yield:

Now check [https://reddit.com/r/funny/comments/7mjw12/my_cab_driver_tonight_was_so_excited_to_share/druihai/](https://reddit.com/r/funny/comments/7mjw12/my_cab_driver_tonight_was_so_excited_to_share/druihai/)

You will see that its actually the top comment. I checked the source code and I could not find any lines actually using the CommentSort to change the request.

[2019-03-15 14:49] StefanLobbenmeier commented on #135
I already fixed this, you can find the commit [here](https://github.com/StefanLobbenmeier/DRAW/commit/b19cffcaa5bd8d0d9c4bc8dd69741716fc0daba0). I need some help fixing the UnitTests though, as I do not fully understand the reply package. Now the Tests all call the reddit oauth with the parameter {sort: best}, but as the Unit Tests are defined for being called without this parameter, they fail.

[2019-03-16 21:19] StefanLobbenmeier commented on #131
Sry for the late response. I will look into this, but I am currently concentrating on more basic parts of the API, but I expect I will investigate this further in a few month.

[2019-03-25 14:56] StefanLobbenmeier commented on #131
I hope you dont mind if I use this issue to document my findings - I want to gather as many examples of media before thinking about a good design.

[2019-03-25 14:56] StefanLobbenmeier commented on #131
gyfcat
media_embed: {content: &lt;iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fgfycat.com%2Fifr%2Fconstantdecimalkarakul&amp;url=https%3A%2F%2Fgfycat.com%2Fconstantdecimalkarakul&amp;image=https%3A%2F%2Fthumbs.gfycat.com%2FConstantDecimalKarakul-size_restricted.gif&amp;key=ed8fa8699ce04833838e66ce79ba05f1&amp;type=text%2Fhtml&amp;schema=gfycat" wid

[2019-03-25 15:01] StefanLobbenmeier commented on #131
imgur (only link information):

media_embed: {}
secure_media: null
is_reddit_media_domain: false
secure_media_embed: {}
media_only: false
url: https://i.imgur.com/4a3Ch82.gifv
media: null

[2019-03-25 15:04] StefanLobbenmeier commented on #131
Reddit video

[code]

[2019-03-25 15:10] StefanLobbenmeier commented on #131
Youtube

[code]

[2019-03-26 18:57] bkonyi commented on #131
Not a problem! Sorry I haven't had more time to work on this myself. Hopefully I can spend some more time on this soon...

[2019-04-02 10:20] Ivaskuu opened #137 "Comments replaceMore gives an error"
Hi!

I was trying to replace all the 'replace more' comments in a CommentForest, but somehow it didn't seem to work and threw this error:
[code]

This is the code I was using:
[code]

[2019-04-02 10:42] StefanLobbenmeier commented on #137
Hi :)

Can you give the id of a submission where this happens? Or does it happen with every submission?

[2019-04-02 10:49] StefanLobbenmeier commented on #137
Ok the issue seems to be here:

[code]

But since you called refresh Comments it should not be null anymore.

[2019-04-10 04:55] guyms opened #138 "Example of InstalledApp"
Hello,

Is there anything in the pipeline for installed application workflows/documentation specifically without a secret?

Thanks

[2019-04-10 06:12] StefanLobbenmeier commented on #138
Hi :)

It is actually possible, I use it myself. Just set the attributes you don’t
have (I think it is only ClientSecret) to “” and you should be fine.

guyms <notifications@github.com> schrieb am Mi. 10. Apr. 2019 um 06:55:

[2019-04-22 17:25] bkonyi commented on #137
Sorry for the delay on this. I'll take a look ASAP.

[2019-05-13 04:19] ssxx112 commented on #128
Hey @1nv1n sorry to bump an old thread but i am running in to the same issue, have you discovered a fix ?

[2019-05-13 06:30] kevinespaldon commented on #128
@ssxx112 Credentials are good?

[2019-05-13 16:47] 1nv1n commented on #128
No, I have not yet found a fix. I also have not looked into it since Feb.; I will try to check again (doubt it'll be different - but Dart & Flutter have had updates since the last time I checked (low chance of that resolving it)); but I'll post an update to this comment with the results.

[2019-05-14 19:17] bkonyi commented on #128
If you're still having issues, could you post a simple reproduction case that I could try out? Sorry I haven't been able to look into this more myself, I've been pretty swamped lately. If it's a relatively quick fix I can get it done this week or guide you down the right path :)

[2019-05-17 22:35] #135 closed

[2019-05-17 22:35] bkonyi commented on #137
@StefanLobbenmeier, was this resolved by your PR or was this another failure?

[2019-05-18 08:02] StefanLobbenmeier commented on #137
It was not resolved by my PR, at least not intentionally.

[2019-05-20 14:19] bkonyi commented on #137
I didn't think so, but figured I'd check. Were you ever able to reproduce this with a specific submission? If so, can you post it here so I can take a look?

[2019-05-21 12:31] naiveai commented on #43
@bkonyi Really sorry for annoying you, but there doesn't appear to be this - does the empty client secret thing still work?

[2019-05-21 13:44] StefanLobbenmeier commented on #43
Hi :) putting an empty client secret ("") still works for me.

[2019-05-21 22:44] bkonyi commented on #43
Obviously there's still some confusion here, so I'll reopen this issue. @StefanLobbenmeier, @naiveai what's the use case you have? What's the expected behavior?

[2019-05-22 01:07] naiveai commented on #43
The use case is to use DRAW in a Flutter app, using the installed app type in Reddit's app registration. There is no secret provided to us when doing this, so we have to simply pass it in as empty when creating a Reddit instance. I ended up doing that and it worked, so all it needs at this point is a dedicated constructor that passes in `clientSecret: ''` to reduce confusion.

[2019-05-24 05:03] donovanrost opened #143 "Add 'best()' to src/listing/mixins/base.dart"
There is subreddit.hot() / .top() / .rising()

.best() doesn't seem to be available, am I missing something?

[2019-05-28 21:32] StefanLobbenmeier commented on #143
Hi :) did you find a workaround? Otherwise I will probably try to patch this in a few month, but I am currently quite busy (and so is the actual owner of this repository)

[2019-05-28 23:11] bkonyi commented on #143
If it's missing functionality, this shouldn't be too difficult to add. @donovanrost did you find a workaround or was this already implemented somewhere?

[2019-05-28 23:18] bkonyi commented on #143
Actually, I'm fairly certain you can just use the `stream` provided by `SubredditRef` as Reddit sorts by 'best' by default as far as I can tell. It might be worth adding a `best()` method either way just for completeness.

[2019-05-29 00:10] donovanrost commented on #143
When I opened this issue I didn't realize that on reddit.com, the only subreddit that actually has a 'best' option is 'home' which, I think in DRAW is front. Every other subreddit has a 'hot' ordering which is provided by DRAW. The frontpage api should be the only one with a 'best' option

[2019-05-30 16:34] bkonyi commented on #143
Right, that's why that was missing... totally forgot about that. You're correct that 'frontpage' is equivalent to 'home'. Anyway, thanks for clearing that up :)

[2019-05-30 16:34] #143 closed

[2019-05-30 16:35] bkonyi commented on #43
Hm, I totally thought I had covered this case... anyway, I'll add a proper way to initialize for an installed application type.

[2019-05-31 20:03] #43 closed

[2019-05-31 20:05] bkonyi commented on #43
`Reddit.createInstalledFlowInstance` will be available as of version `0.5.2` which I'll likely release today.

[2019-05-31 20:41] bkonyi commented on #138
I've added documentation to README.md. Let me know if you have more questions!

[2019-05-31 20:41] #138 closed

[2019-05-31 23:43] dan-rds opened #146 "Feature Request: Search for subreddits by name"
I noticed that api_paths.dart contained the mapping for `'search': 'r/{subreddit}/search/',` but I can't find any implementation of this feature.

Can this be done?

[2019-06-01 10:35] ssxx112 commented on #128
I found to fix this problem was to register the app on the reddit website as a script instead of an installed app and everything worked out great.

[2019-06-01 10:55] StefanLobbenmeier commented on #128
Glad you were able to resolve your issues :) just out of curiosity, with the „installed app“ type you don’t get a client secret (right?), so what parameter did you chose there?

[2019-06-02 16:59] naiveai commented on #43
Minor problem, `restoreAuthenticatedInstance` still requires `clientSecret`. But eh, that's really not much. Thanks for updating DRAW, and for the support you provide!

[2019-06-02 17:38] StefanLobbenmeier commented on #43
I think that having the client secret somewhere In the code is safer than
having it in the code and in the saved Authentication

[2019-06-02 17:53] naiveai commented on #43
@StefanLobbenmeier the client secret doesn't exist with installed apps, so I'm not sure what you mean here.

[2019-06-03 10:03] naiveai opened #147 "Does restoreAuthenticatedInstance need to be an async action?"
It does not appear to actually do anything async - the await it uses is for a function that doesn't actually do any async actions. Am I understanding this wrong? The reason I'm asking it is that it being async causes some difficulty when initializing my application, since I have to wait for it somehow before doing anything.

EDIT: Looking into this currently, will open a PR for it later, and maybe

[2019-06-03 19:02] bkonyi commented on #146
Of course!

[2019-06-03 19:08] bkonyi commented on #147
Ah, thanks for pointing that out. This doesn't need to be an `async` method, but it is technically a breaking change as the return type will no longer be a `Future`... I'll have to think about when this change should be made.

[2019-06-03 19:11] bkonyi commented on #43
Whoops, totally forgot about that! Thanks for pointing it out, I'll update things :)

[2019-06-03 19:11] bkonyi opened #148 "restoreAuthenticatedInstance still requires a clientSecret even for installed application types"
See #43 for discussion.

[2019-06-09 08:20] naiveai opened #150 "Any way to get the newest posts without a stream?"
If I want to implement pagination for the newest posts, I think directly accessing the /r/subreddit/new.json and providing convenience before() and after() method of some sort would be easier to work with than a stream. And getting the newest posts for 1 time only is also seemingly impossible without using `stream.submissions(pauseAfter: 1).takeWhile((s) => s != null)).toList()` or something simil

[2019-06-13 03:49] donovanrost commented on #150
`  void loadHotFor({@required subreddit}) {
    if (instance != null) {
      Stream stream = instance.subreddit(subreddit).hot();
      _fillSubredditContent(stream: stream);
    }
  }

  void _fillSubredditContent({@required Stream stream}) {
    _apiStream = stream.listen((s) {
      if (!subredditContent.hasValue) {
        subredditContent.add([s]);
      } else {
        List temp = subreddi

[2019-06-15 14:18] naiveai commented on #150
ALso, how do you get posts that are past the initial 100 posts? The stream only gives you the new posts as they are posted, not the older ones, does it?

[2019-06-15 22:38] donovanrost commented on #150
I don't believe it gives you new posts as they are posted. But perhaps I'm wrong and @bkonyi can correct me on this.

The way I believe this works is that you make your request and it returns a block of 100 posts ( I don't know If there is a way to adjust this size -- I would like to be able to). Then when that block has returned, it sends out a request for another block of 100, and so on until th

[2019-06-15 23:52] donovanrost commented on #131
Adding to @StefanLobbenmeier examples of media. This [gfycat](https://www.reddit.com/r/CatastrophicFailure/comments/c0xbh5/in_1984_nasa_and_the_faa_deliberately_crashed_a/.json) example has

"reddit_video_preview": {
                                "fallback_url": "https://v.redd.it/7fpx9a4xvi431/DASH_360",
                                "height": 360,
                                "width": 640

[2019-06-16 05:28] naiveai commented on #150
@donovanrost This behaviour might be useful in some cases, but it does not allow enough control for some others, like pagination as I mentioned. As of now, I just decided to use `reddit.get('r/{subreddit}/new.json')` directly to get the desired response.

[2019-06-16 05:30] donovanrost commented on #150
You might just want to use ```subreddit('$subreddit').newest()```  As far as I know, pagination is just done by pausing and resuming the stream.

[2019-06-19 17:30] bkonyi commented on #150
Sorry @naiveai, I've been AFK for a few days, let me take a look and get back to you. I think we do pagination while retrieving the content for the stream in the first place, but it might be worth giving more control as you've suggested.

[2019-06-19 17:48] bkonyi commented on #150
@naiveai which stream are you using exactly and what behavior are you trying to get? Are you looking for a page of new submissions for a given subreddit?

Anyway, [here's the implementation that's backing most of the streams in the API](https://github.com/draw-dev/DRAW/blob/master/lib/src/listing/listing_generator.dart#L33). As you can see, we do pagination there and request new data after yieldin

[2019-06-20 07:15] naiveai commented on #150
@bkonyi I'm using the `reddit.subreddit(subredditName).stream.submissions`. The problem is essentially that you don't have enough control for my particular usecase - you get the first 100 results automatically in the stream, thus wasting network time if the user doesn't actually end up needing it. By requesting them manually, I'm able to paginate them using an infinite scroll view or something sim

[2019-06-25 08:47] StefanLobbenmeier commented on #150
I am a bit late to the party, but I wanted to share my approach as well. This is an excerpt from my code

[code]

I am not that familiar with the reddit API, but from my understanding there is also a "before" parameter, so passing the before parameter in a similar fashion could work for you.

[2019-06-25 08:48] StefanLobbenmeier commented on #150
Excerpt from the [Reddit API Doc](https://www.reddit.com/dev/api):

# overview
## listings
Many endpoints on reddit use the same protocol for controlling pagination and filtering. These endpoints are called Listings and share five common parameters: after / before, limit, count, and show.

Listings do not use page numbers because their content changes so frequently. Instead, they allow you to view

[2019-07-08 20:58] bkonyi commented on #150
@naiveai ah, I'm guessing you're trying to display the newest posts for a subreddit, not listen for new submissions as they come in? In that case, you should be using the [Subreddit.newest stream](https://pub.dev/documentation/draw/latest/draw/BaseListingMixin/newest.html).

Once again, sorry for the delayed response... it's been a crazy month. I'll be able to respond much more frequently from now

[2019-07-08 20:59] bkonyi commented on #137
Quick bump on this issue. @StefanLobbenmeier, have you been able to reproduce? Otherwise I'll close this for now.

[2019-07-08 21:00] #128 closed

[2019-07-08 21:22] #147 closed

[2019-07-08 21:22] #148 closed

[2019-07-12 17:31] bkonyi commented on #150
@naiveai I've added a parameter which should make it easier to reduce the number of elements requested by the streams throughout the API here: https://github.com/draw-dev/DRAW/commit/201eab1159b771c4e625d618cd262bf181ddfdca. It should be trivial to add a parameter for `after` to allow for creating a stream that iterates from a given object ID to the newer objects. If someone has a need for iterati

[2019-07-12 23:43] bkonyi commented on #146
Added this functionality as `Subreddits.search` in https://github.com/draw-dev/DRAW/pull/156.

[2019-07-12 23:43] #146 closed

[2019-07-14 00:18] donovanrost opened #157 "More Comments quirk."
I noticed a weird quirk that probably has more to do with the reddit API than DRAW. But it might be relevant to DRAW

If the parent of a `MoreComments ` is depth 9 -- which I believe is the max depth -- the `count` of that `MoreComments` will be 0, but it is still capable of having children. However the depth of those children will start over at 1 instead of the expected 10.

https://www.reddit.co

[2019-07-14 07:42] StefanLobbenmeier commented on #157
I noticed as well. As far as I know, that is basically the reddit Api telling the Reddit app to display the rest of the comments in a new separate window. You can also notice that the more comments that expands into these „weird“ comments has a count of 0

[2019-07-14 16:43] StefanLobbenmeier commented on #137
Sorry, I have been gone for some time, but I will hopefully be more active again now :) I did not attempt to reproduce, I was also hoping for @Ivaskuu to provide a specific submission

[2019-07-14 16:52] StefanLobbenmeier commented on #131
@donovanrost Thanks for the input :) I actually decided against pursuing this issue further, since I can get away with basically ignoring the fields and only working with the url. I use this library (shameless plug, its my own) to convert them https://github.com/StefanLobbenmeier/video_provider and the mp4 gives me all the metadata I need. Will close for now.

[2019-07-14 16:52] #131 closed

[2019-07-15 17:23] bkonyi commented on #157
Yeah, I'm pretty sure this is just how the Reddit API does things. Has this been causing any issues for you in the context of DRAW or is this just something you've noticed @donovanrost? I know I've run into it while working on `MoreComments` but I was pretty sure everything was working as intended last I checked (it has been awhile though...).

[2019-07-15 17:25] bkonyi commented on #137
Not a problem, just figured I'd check! I think I'm going to close this for now, but if someone runs into this error again feel free to reopen with reproduction steps.

[2019-07-15 17:25] #137 closed

[2019-07-15 19:31] donovanrost commented on #157
I was wondering, does it make sense (in the context of DRAW) to handle this case as a separate class since the intent behind `MoreComments` is to get more replies. But this case should be to continue a thread. And since there is unexpected behavior i.e., this case showing 0 comments, when there are actually comments

[2019-07-27 16:03] ThatsEli opened #158 "Error while authorizing: did not contain required parameter "access_token""
Hello,

firstly I am relatively new to Flutter so sorry if this is a problem on my side :)

I created a new project and imported the lib. Then I followed the guide on how to setup a ["Installed Application"](https://github.com/draw-dev/DRAW#installed-application-authentication). It works until i call `reddit.auth.authorize(code);`. Then it throws the error

and stops working. The Auth code seems t

[2019-07-27 16:32] StefanLobbenmeier commented on #158
Hi :) I think there are some parameters missing. Let me check my code

[2019-07-27 16:45] StefanLobbenmeier commented on #158
[code]

[2019-07-27 16:46] StefanLobbenmeier commented on #158
This is the Code I Uwe (and just tested). However youre using the newer api and I guess you should keep that. What I missed in your code was the user agent

[2019-07-27 16:53] StefanLobbenmeier commented on #158
Actually never mind, that part looks correct. My next guess is that your way of extracting the code did not work, did you check the code with a print?

[2019-07-27 16:55] StefanLobbenmeier commented on #158
The other reason I could think of is that the reddit api does not accept foobar as it is not random enough / used by too many people

[2019-07-28 10:23] ThatsEli commented on #158
I managed to fix it by using a different useragent as you suggested. Somehow that fixed it, I don't know exactly why that mistake would throw the error I had, but who knows 🤔 Dankeschön für die Hilfe ;) (Thank you for the help!)

[2019-07-28 10:23] #158 closed

[2019-07-28 11:11] StefanLobbenmeier commented on #158
@bkonyi should we change this in the Guide? It seems that it was not clear that user_agent needs to be random

[2019-07-29 20:25] bkonyi commented on #158
Thanks for helping @ThatsEli debug @StefanLobbenmeier! I really appreciate your contributions :)

Yes, we should probably add a commonly asked questions section to the README and cover this there. I'm not certain the user-agent needs to be _random_, but it needs to be something relatively unique (I'm sure `foobar` is used quite frequently, which is likely why @ThatsEli was running into issues. Us

[2019-07-29 21:03] bkonyi commented on #157
I don't think it would make sense to make this a separate class, simply because `MoreComments` is what Reddit returns for both cases. I've gone ahead and added a couple of properties to `MoreComments` and updated documentation that should make things less confusing.

[2019-07-29 21:03] #157 closed

[2019-08-09 07:43] ThatsEli opened #161 "FormatException: Invalid OAuth response for "https://www.reddit.com/api/v1/access_token": required parameter "error" was not a string, was "401"."
Hey, it's me again :) So far DRAW works perfectly, but I encountered another bug :( Initial authentication is working perfectly(Using `createInstalledFlowInstance(...)`). Also the restoring of an instance with `restoreAuthenticatedInstance(...)` is working… For about a few hours or so. Before that timefrme everything works. But after that timeframe it throws the following error:

E/flutter (30955)

[2019-08-09 07:50] ThatsEli commented on #161
Okay, I just dicovered taking a look at the sourcecode, that the `restoreAuthenticatedInstance(..)` only seems to work with a webFlowInstance. I will try my luck to "fix" it in my fork :)

[2019-08-09 07:59] ThatsEli commented on #161
Okay, I should have read the code more indepth: The installedApplicationsInstance is a webFlowInstance without a clientSecret. Then I don't really know where the problem lies 🤔

[2019-08-09 08:08] ThatsEli commented on #161
Okay, I think I fixed it. At least for me it works now. It was a really simple fix so I will create a PR is a few minutes. I don't know why this shoould fix my problem that only occurred after a few hours, but who knows 🤷‍♂

[2019-08-09 09:21] ThatsEli commented on #161
Opened PR #162

[2019-08-11 18:43] madqueendany opened #163 "Redirect URI parses the string"
my sample `redirect_uri` is `http://localhost:8080`

but when I print the `auth_url`, it prints `http%3A%2F%2Flocalhost%3A8080%2F`

And then when I paste the url to postman, (and remove the *.compact* attribute) I get

[code]

Then still on postman, when I change it to the unparsed string, i get the correct reponse (the page with **Allow** / **Deny** buttons

[2019-08-12 15:34] bkonyi commented on #163
I'm not sure what you mean by `auth_url`; do you mean the `Uri` returned from `reddit.auth.url()`?

You might just need to invoke [Uri.decodeComponent](https://api.dartlang.org/stable/2.4.1/dart-core/Uri/decodeComponent.html) on the string value of the `Uri`.

[2019-08-12 15:39] bkonyi commented on #161
Thanks for the PR! It almost sounds like your credentials expired and needed to be regenerated, but I'm not completely sure...

[2019-08-12 19:22] #161 closed

[2019-08-12 20:26] madqueendany commented on #163
Oh I fixed it I think... For the mean time I opted to use a script instance instead of an installed app flow, so now I'm using the package as a read-only instance.

Closing this for now. Thanks!

[2019-08-12 20:26] #163 closed

[2019-08-20 18:15] madqueendany commented on #161
Hello @ThatsEli, @bkonyi, I'm having the same problem... Can you please enlighten me?

[2019-08-23 22:59] ThatsEli commented on #161
I hope so :) First of all, are you sure, that the credentials aren't expired? And of what type is your Reddit application(WebFlow, Script or Installed)? If it is installed, it could be that you have the same problem as me and maybe my "fix" should help.

[2019-08-26 12:14] madqueendany commented on #161
It's not expired, I was just following the normal flow of authentication so the installed app instance so I might very well be sharing the same problem with you. I also notice that you did a PR for this? How do I implement that?

[2019-08-27 12:43] ThatsEli commented on #161
@madqueendany

Yeah, I created a PR to fix this: When @bkonyi has published the new DRAW version, try to replace `restoreAuthenticatedInstance(...)` with `restoreInstalledAuthenticatedInstance(...)`.

[2019-08-27 12:44] madqueendany commented on #161
Thanks guys. I'll be sure to check this out later

[2019-10-21 14:08] manishbeetch opened #166 "Reddit no longer provides secret for android apps. How to initialize the Reddit instance?"

[2019-10-21 14:14] #166 closed

[2020-01-09 18:48] oliver92 opened #168 "Search '_InternalLinkedHashMap<dynamic, dynamic>' is not a subtype of type 'Map<String, String>'"
When you try to search a subreddit... example:

<code>await reddit.subreddit("all").search(text, sort: Sort.relevance, params: Map<String, String>()).toList()</code>

The method search cannot be called because it throws:
_InternalLinkedHashMap<dynamic, dynamic>' is not a subtype of type 'Map<String, String>

I believe its this line thats the cause:
<code>final data = (params != null) ? Map.from(pa

[2020-01-09 19:43] bkonyi commented on #168
Thanks for filing an issue @oliver92. Would you mind sharing the full stacktrace? This should be relatively simple to fix, but it'd be a huge help if you could provide me with that!

[2020-01-09 22:11] oliver92 commented on #168
Yes, im sorry for not including it in the first place. here you go:

<code>
[VERBOSE-2:ui_dart_state.cc(157)] Unhandled Exception: type '_InternalLinkedHashMap<dynamic, dynamic>' is not a subtype of type 'Map<String, String>'
#0      SubredditRef.search (package:draw/src/models/subreddit.dart:236:17)
....
</code>

The rest of the stack trace is just my own classes....

Im on version 0.9.0 btw :)

[2020-01-09 22:43] bkonyi commented on #168
Thanks! I've uploaded version 0.9.1 which should hopefully fix this for you. Please let me know if you run into any more issues!

[2020-01-09 22:43] #168 closed

[2020-01-09 23:12] oliver92 commented on #168
Yup, that solves it. Thank you for the quick response.

Oliver

[2020-02-07 00:31] bkonyi opened #170 "Investigate needed changes for Submit API change"
[Context](https://www.reddit.com/r/redditdev/comments/ezz3td/upcoming_api_change_post_apisubmit/)

[2020-02-26 20:23] oliver92 opened #171 "Way to set onCredentialsRefreshed"
Could you please put a way to set the onCredentialsRefreshed in the AuthorizationCodeGrant so a top level notification is sent that the refresh token has been refreshed. I need this because when i use the installed flow, once i authorize i store the credentials so i can use the restore flow. But since i never update the credentials stored, after the expiration of the refresh token, DRAW refreshes

[2020-03-21 00:02] ohIcee commented on #166
could you please explain?
I tried with the wiki:
` final reddit = Reddit.createInstalledFlowInstance(userAgent: userAgent,
        configUri: configUri, clientId: "id");`

but after running `final auth_url = reddit.auth.url(['*'], 'foobar');` nothing happens and is null

[2020-03-25 23:20] Bricktheworld opened #172 "How to retrieve posts in a fashion that isn't so slow"
Hello, I am attempting to use this API to create a Reddit flutter app. I am attempting to retrieve posts using the stream.submissions(); function and doing an asynchronous for loop as such:

` stream = currentUser.reddit.subreddit('android').stream.submissions();
    await for (UserContent submission in stream) {
      Submission s = submission;
      _postsTemp.add(s);
      setState(() {

[2020-03-26 02:12] Bricktheworld commented on #172
Nvm, apparently calling the currentUser = await redditTemp.user.me(); before fetching posts is not a good idea if it is not necessary because it caused a lot of lag time from requesting the updated reddit client and actually fetching the posts

Don't do this if not necessary

Althought if there was still one more thing I'd like to be improved in the project, is that the documentation for things su

[2020-03-26 19:52] Bricktheworld commented on #172
Nvm Nvm, that was not the issue. The issue still remains that getting "best()" takes a long time, like 10 seconds slow. I'm not sure what the issue is...

[2020-03-30 16:50] michaelcerne commented on #172
Any updates?

[2020-04-01 06:59] Bricktheworld commented on #172
Hmmm, it seems like calling a simple .Hot() on all of the subreddits before actually listening in on the stream seems to help, but that does not fix the issue. It is still like a 3-5 second load time. Another thing i've noticed is that sometimes the load times are like 1 second and sometimes they are 10, it is very erratic and I can't seem to pinpoint the issue.

Also just in case it gets asked, I

[2020-04-03 22:51] pigi96 commented on #172
@Bricktheworld, may I ask have you tried using the limit paramater?

Just wondering, because it used to take 3-5 seconds for mine too, before I noticed that default wasn't 100 but was 1000 (if I remember corretly, it actually called http 10 times, never looked into it though).

Setting limit to below 100 fetches data almost insantly otherwise I wouldn't know what would be actually wrong.

[2020-04-03 23:20] Bricktheworld commented on #172
@pigi96

hmm, so I have tried that before, however it seems like this time it worked! Thank you so much!

However now I have another question, how do I continue to get more posts, if I can only get like 90 at a time? Do I literally just have to put the "hot()" method in a loop to continually get more posts? Because if so, that seems like a super messy solution, but it could work!

Also I do have t

[2020-04-03 23:38] pigi96 commented on #172
Yeah that should work as expected.

As for your other question... I do it in a way, that I only load more elements if user scrolled to/near the bottom of a page, so there is no unnecessary loads...
`stream = _reddit.subreddit(subredditTitle).top(
      limit: 25,
      after: after);
    List<Submission> submissions = List<Submission>();
    await for (final value in stream) {
      submissions.ad

[2020-04-03 23:40] Bricktheworld commented on #172
Gotcha, yeah the documentation for the after really confused me, so that helped me a lot!

Thank you, I'm now going to close this issue

For the devs of draw to see: You might want to further explain how the limit works and why it loads faster and also some more docmentation on this topic would help.

Thanks everyone!

[2020-04-03 23:40] #172 closed

[2020-04-05 01:47] Bricktheworld commented on #61
Any update on this?

[2020-04-05 01:54] Bricktheworld commented on #61
This actually really needs to have some fix to it, because as it stands, I have a list view however when I set the number of items, I always receive an error with there being a more comments option. I would at the very least like an option to detect if there are any new comments as a way to ensure that I can get 1 minus the length of the comment forest. Any way I can achieve this?

[2020-04-06 17:11] Bricktheworld commented on #61
Ok, have found a solution. Simply check if an element is MoreComment with "if (someCommentForest[index] is MoreComment) "...

I wonder if that would be easy to check in the actual ".length" property in the CommentForest, might make a pull request for that

[2020-04-12 02:07] ThinkDigitalSoftware opened #174 "Current Authorization flow is HELL"
Sorry for the extremely unprofessional title, but I'm switching over from a self designed API and I'm just running into confusing error after error. Methods that should be required aren't marked as such, there are too many optional parameters that require you to understand the library to decide when to leave out.
There are too many technical terms that I feel should be abstracted for ease of use.

[2020-04-12 21:32] ThinkDigitalSoftware opened #175 "Why do many of these endpoints return Streams instead of Lists?"
I'm used to getting a list of say, posts, rather than a stream that returns a single value at a time. Is there a reason for this?

[2020-04-12 22:57] ThinkDigitalSoftware commented on #174
Closing as this was more venting than an issue. After going over the instructions one by one, I ended up getting it.

[2020-04-12 22:57] #174 closed

[2020-04-13 17:45] bkonyi commented on #175
Streams allow for data to be automatically fetched asynchronously when the backing data store is exhausted (e.g., a user has iterated over 100 comments, the next 100 comments need to be fetched from the network). You can get a list from a Dart stream by calling `stream.toList()` or you can simply loop over the stream to build a list yourself:

[code]

[2020-04-13 17:46] #175 closed

[2020-04-13 17:56] bkonyi commented on #172
Sorry for the delay everyone. I've been pretty swamped with work and other efforts and haven't had a chance to respond here. @Bricktheworld I'll keep your feedback in mind and add more info when I can (I would be happy to accept a pull request for documentation explaining the limit parameter though :-)).

For future reference, if you ever run into issues with DRAW it might be worth checking out th

[2020-04-13 17:58] bkonyi commented on #174
Yeah, authentication is... weird. Most of the authentication flow, along with the majority of the DRAW API, is inspired by the flow found in PRAW, so if you run into issues in the future you might be able to use PRAW's documentation as a supplementary resource. Glad you figured it out though!

[2020-04-13 17:59] ThinkDigitalSoftware commented on #174
Thanks. Can you add required in places where the variable is required or else the method will fail?

[2020-04-13 18:07] Bricktheworld commented on #172
@bkonyi All good, stay safe :)

And I am currently in the process of adding documentation and fixing the comment length bug in a pull request!

[2020-04-13 18:11] Bricktheworld commented on #174
Would a more fully explored example help? I have managed to get OAuth working pretty seamlessly with flutter (assuming you are using flutter). Also, I don't think that the confusing convoluted parts of this API are really the fault of this wrapper, it's mostly the fault of Reddit for having all of these roundabout ways of dealing with their API... Like by far Reddit is the worst I've ever seen and

[2020-04-13 18:15] bkonyi opened #176 "Mark required parameters throughout API with @required"
In some situations it's unclear which parameters are required, particularly for the OAuth flow. We should investigate whether or not there would be any benefit of marking parameters as @required, although this may be handled after non-nullability lands in Dart.

[2020-04-13 18:15] bkonyi commented on #174
That's something I can look into doing. Filed #176 to track.

[2020-04-13 18:17] bkonyi commented on #171
Sorry for the delay, I'll investigate this.

If you could file a separate issue for the friend/unfriend error you're seeing, that would be great. Thanks!

[2020-04-13 18:59] ThinkDigitalSoftware commented on #174
Thank you, sir

[2020-04-13 20:14] bkonyi commented on #172
Thanks, you too! :) Excellent, looking forward to it @Bricktheworld!

[2020-04-14 21:21] Bricktheworld opened #177 "Quick question, how do I get a post from a given reddit url?"
So I need to make a post given a specific url, is this something I have to do myself or is it already built in. I noticed the `Submission.parse()` method with the data prop and I was wondering if I have to manually fetch this from the url adding the .json tag to whatever url and sending an `http.get` request. If so, how would this be done?

Thanks!

[2020-04-14 21:22] StefanLobbenmeier commented on #177
You usually get submission from a Listing, for example from a subreddit or the front page. You should not have to construct urls yourself.

If you are looking for a post by id I am not sure how to do that

[2020-04-14 21:27] StefanLobbenmeier commented on #177
Could you try:
https://github.com/draw-dev/DRAW/blob/26a2593cfd7edc2796e7f393d8a0e659e5489d8a/lib/src/models/user_content.dart#L12

[2020-04-14 21:46] Bricktheworld commented on #177
@StefanLobbenmeier Yeah for almost all my posts I get it from the front page, however, with this, I am redirecting a link from a web page to my app Reddit app and I need to parse it into a regular submission so I can upvote and whatnot.

Also, I am getting the "abstract class cannot be instantiated" whatever when I do, `UserContent _userContent = UserContent.withPath(reddit, url);`. So how should

[2020-04-14 22:06] Bricktheworld commented on #177
@StefanLobbenmeier Actually yes this works!!! Thank you so much!

And for anyone in the future who has this issue, here is how I solved it:

`SubmissionRef submissionRef = SubmissionRef.withPath(reddit, link);
Submission submission = await submissionRef.populate();`

[2020-04-14 22:06] #177 closed

[2020-05-06 00:55] donovanrost opened #178 "&lt;, &gt;, and &amp; contained in response"
According to [reddit docs](https://www.reddit.com/dev/api/)

For legacy reasons, all JSON response bodies currently have <, >, and & replaced with &lt;, &gt;, and &amp;, respectively. If you wish to opt out of this behaviour, add a raw_json=1 parameter to your request.

would it be possible to use this parameter to opt out of this legacy behavior?

[2020-05-24 00:07] inhumantsar commented on #171
I'm affected by this as well.. as a workaround, i refresh the token on every call to the Reddit obj and store it if it differs. i don't know if this a *good* workaround but it's working so far.

[code]

[2020-05-30 15:41] inhumantsar opened #180 "MoreComments object not removed from _comments?"
so i've got a stateless ListView based widget filled by a viewmodel and a singleton service. when i scroll to the end of the ListView, the widget successfully relays a call to `replaceMore()` and those new comments pop in to the ListView.

When I scroll to the new bottom and encounter the second MoreComments object, I get an exception. The assertion it fails on suggests to that the insert is being

[2020-06-03 07:22] Adeering opened #181 "Example of read only for application"
Less of an issue and more of a request.  Im trying to integrate reddit into my Flutter app and having trouble figuring out the flow for readonly without having the user log in and getting the posts from a specific subreddit.  Any example would be useful

[2020-06-17 13:45] Adeering opened #182 "Reddit oAuth url is for desktop and doesnt redirect back if user needs to sign in"
Found an issue where on mobile devices (haven't tried on computers or web) that if the user isnt already logged in to Reddit after they log in the authUrl doesnt redirect them back to the authorization page.  I found that this is an issue with the reddit side of things but found a workaround that might be useful to integrate.  Either a mobile bool flag in the reddit.auth.url function in draw or ju

[2020-06-24 07:46] fictioncapital opened #183 "How to complete authentication?"
In the Web authentication and Installed app authentication, the comments say:

  // Complete authentication at `auth_url` in the browser and retrieve
  // the `code` query parameter from the redirect URL.
  // ...

How do i do this?

[2020-06-24 12:11] StefanLobbenmeier commented on #183
May I ask which platform?

But the gist of it is, Reddit will forward you to

https://Yourwebsite.com/path?code=ThisIsTheCodeYouNeedToCompleteAuth

If you develop an app you want to use an uni link, like

yourapplink://authpath?code=ThisIsTheCodeYouNeedToCompleteAuth

[2020-06-24 12:12] StefanLobbenmeier commented on #183
For flutter, this is the package you’re looking for: https://pub.dev/packages/uni_links

[2020-06-25 04:18] fictioncapital commented on #183
Sorry, i am still new to programming on Dart & flutter and i am trying to figure out how to use the Draw plugin.

In the homepage of the DRAW plugin (https://github.com/draw-dev/DRAW) there is a "Installed Application Authentication" section. I am trying to do this on my flutter app. The example code given is:

`import 'package:draw/draw.dart';

main() async {
  final userAgent = 'foobar';
  final

[2020-06-25 05:41] fictioncapital commented on #183
I think i understand what i have to do now.

First i have to perform OAuth per https://github.com/reddit-archive/reddit/wiki/OAuth2. I think i am going to look into using webviews or if that doent work just opening on the browser.

Once that happens, i need to use uni_links to internally redirect to the page i want and capture the code that reddit returns!

Please let me know if this is the correc

[2020-06-25 06:44] StefanLobbenmeier commented on #183
Pretty much correct. Regarding opening the url in the Browser there is also a flutter package -  https://pub.dev/packages/url_launcher

So you don’t Need to worry about Webviews yourself

[2020-06-25 07:44] fictioncapital commented on #183
Thank you so much!

I am getting an error in:
    final reddit = Reddit.createInstalledFlowInstance(
      clientId: 'MYCLIENTID',
      userAgent: 'MYUSERAGENT',
      redirectUri: Uri.https('MYREDIRECTURL', ''),
    );

Error:
E/flutter ( 6204): [ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: DRAWAuthenticationError: clientId cannot be null.

The issue is that i am definitely p

[2020-06-25 15:06] StefanLobbenmeier commented on #182
Is the compact parameter what you are looking for?

[code]

[2020-06-28 17:16] fictioncapital opened #184 "How to get posts from a Multireddit?"
I am trying to use Draw to get posts from Reddit. While reading some of the docs i noticed that there was a multireddit.dart file in the package. I havent been able to figure out how to use this yet and would love some help on this.

Steps i have completed:
1) Created a Reddit instance reddit using createInstalledFlowInstance
2) OAuth with Reddit for my username and stored current user in currentU

[2020-07-04 07:19] #184 closed

[2020-07-04 07:19] fictioncapital commented on #184
No longer need to read Multis

[2020-08-05 22:03] bkonyi commented on #182
@StefanLobbenmeier's response is the right answer here.

[2020-08-05 22:03] #182 closed

[2020-09-07 22:42] mzegar opened #185 "InstalledFlowInstance Authenication"
Hey,

Just wanted to preface this with that I've read the README and various issues posted already to this repo. I'm still a little confused with the process of setting up `createInstalledFlowInstance`

I'm specifically trying to get Reddit logging in working on a downloadable iOS/android app, so `createINstalledFlowInstance` seems like the reasonable choice.

1. What value should be provided for

[2020-09-08 01:37] #185 closed

[2020-09-28 14:49] MrFrankenstein opened #186 ""after" parameter for FrontPage.hot() object not giving intended result"
`reddit.front.hot(limit: 10, after: submissionID)`
This returns the results from the beginning (as you get without using the after parameter) and not starting from the submissionID (which is taken from the last Submission object's "id")

[2020-10-11 14:13] MrFrankenstein commented on #186
fullname of the submission instance must be passed (not id) to after to get the required output

[2020-10-11 14:13] #186 closed

[2020-10-11 14:25] MrFrankenstein commented on #181
create an untrustedReadOnlyInstance of Reddit. It requires an additional field tho: device id. There's also some rules for generating device id. Check it here: [https://github.com/reddit-archive/reddit/wiki/OAuth2#application-only-oauth](https://github.com/reddit-archive/reddit/wiki/OAuth2#application-only-oauth)

[2020-10-16 00:23] donovanrost opened #187 "Redditor model should have a isFriend property"
The response for https://www.reddit.com/user/spez/about.json is:

[code]

[2020-12-05 21:02] nylipton opened #188 "Message.replies can throw exception if there are no replies"
Error: type 'String' is not a subtype of type 'int' of 'index'
    Message.replies (package:draw/src/models/message.dart:53:37)

This occurs when there is a message with no replies.

Also, FWIW, there is a typo in the method doc. It should be "Returns an empty list" instead of "Returns and empty list."

[2021-03-21 04:28] MrFrankenstein opened #189 "Requesting a null safe release"
I have checked the dependencies and of them only "ini" package is not null safe (its null safe version is still a beta release).

[2021-03-23 18:02] bkonyi commented on #189
Yup, this is on my radar. Hopefully I'll have something by EOD Thursday.

[2021-03-25 22:32] bkonyi commented on #189
@MrFrankenstein  you can `pubspec.yaml` to include `draw: ^1.0.0` for the latest null-safe version. Please file issues if you run into any problems!

[2021-03-25 22:32] #189 closed

[2021-04-01 20:45] misterfourtytwo commented on #176
i guess it should be closed now after migration to null-safety, where required is kinda mandatory not.
or i could do this one here on coming weekend, if this task is still necessary.

[2021-04-23 14:46] JohannesMilke opened #192 "Type Cast Error in v. 1.0.0"
I receive the following issue within the `Reddit.createScriptInstance` method while using version 1.0.0 with NullSafety. Before I was using another version without Null Safety and everything worked fine for me.

**Error Message**
`type '_InternalLinkedHashMap<String, String?>' is not a subtype of type 'Map<String, String>?' in type cast`

**My implementation**
[code]

[2021-04-23 16:30] bkonyi commented on #192
Thanks for the report! Can you please provide me with a stack trace?

[2021-04-23 20:25] JohannesMilke commented on #192
Here is the stacktrace:

[code]

[2021-05-12 20:50] JohannesMilke commented on #192
Any news for this?

[2021-05-13 22:56] #192 closed

[2021-05-13 22:58] bkonyi commented on #192
Sorry for the delay on this one, was caught up with other work. For future reference, I'm always happy to accept PRs :-)

[2021-07-19 18:24] MrFrankenstein opened #195 "Cannot create Reddit.createUntrustedReadOnlyInstance()"
Getting the following exception when trying to create reddit untrusted instance.

`Unhandled Exception: type '_InternalLinkedHashMap<String, String?>' is not a subtype of type 'Map<String, String>?' in type cast`

Please help.

[2021-07-19 18:28] bkonyi commented on #195
@MrFrankenstein can you please provide a stack trace?

[2021-07-20 17:03] MrFrankenstein commented on #195
@bkonyi here's the stack trace

`E/flutter ( 5466): [ERROR:flutter/lib/ui/ui_dart_state.cc(199)] Unhandled Exception: type '_InternalLinkedHashMap<String, String?>' is not a subtype of type 'Map<String, String>?' in type cast
E/flutter ( 5466): #0      Authenticator._requestTokenUntrusted (package:draw/src/auth.dart:280:26)
E/flutter ( 5466): #1      ReadOnlyAuthenticator._authenticationFlow (pack

[2021-07-20 17:19] MrFrankenstein commented on #195
@bkonyi here's the stack trace

[2021-07-24 14:55] MrFrankenstein commented on #195
Hi @bkonyi
Just a gentle remainder to ask if you had a chance to look at this issue.

[2021-07-26 07:08] SupremeDeity opened #196 "Some questions regarding authentication."
First of all, i have not used a reddit api before.

I want to create a reddit client as practice for creating flutter apps, the questions i have are:

1) Can i just use "localhost:3000" for the redirect uri.
2) The part in the example regarding fetching the auth code is left upto the user. I saw a closed issue regarding this which used uni_links and url_launcher. I am going to try using the webvie

[2021-07-26 08:27] tjarvstrand commented on #195
Hi! I just hit the same issue. Is a solution for this on the horizon?

[2021-07-26 13:30] SupremeDeity commented on #196
The first two parts have been solved by me:
1. I have to use deep link/uni-link
2. I ended up using url_launcher and uni_link

These are some issues i still have:
1) I still dont know how i can verify my session, instantiate my reddit instance etc.

[2021-07-26 13:33] SupremeDeity opened #198 "No field for rewarder karma"
I took a look at PRAW and DRAW and couldnt find a field for rewarder karma. Only link karma and comment karma fields are available.

Is there any workarounds and/or hope to get a actual awarder karma field?

[2021-07-26 14:28] SupremeDeity commented on #198
Created PR #199, please review and check if there are many mistakes.

[2021-07-26 17:49] #195 closed

[2021-07-27 06:02] SupremeDeity commented on #178
was thinking the same thing, because i encountered it yesterday. I had to use a replaceAll to replace the &amp; with & so that the images load properly.

[2021-07-27 09:23] SupremeDeity commented on #178
#200 fixes this. Waiting for merge.

[2021-07-27 16:41] abhishekove commented on #185
Can you please share examples of some working apps on how to get authenticated for Reddit API? I mean repo link.

[2021-07-29 20:59] SupremeDeity opened #201 "Cast error on vote"
**Error:**
`Unhandled Exception: type '_InternalLinkedHashMap<String, String?>' is not a subtype of type 'Map<String, String>' in type cast`

**Stacktrace:**
[code]

Error is most likely occuring at `auth.dart:192`

[2021-07-30 17:19] abhishekove opened #203 "Subreddit Submit Unhandled Exception: type '_InternalLinkedHashMap<String, String?>' is not a subtype of type 'Map<String, String>' in type cast"
Unhandled Exception: type '_InternalLinkedHashMap<String, String?>' is not a subtype of type 'Map<String, String>' in type cast. The error is caused when I try to use submit from subreddit to post some data on that subreddit.

[2021-07-30 17:23] abhishekove commented on #203
E/flutter (11805): [ERROR:flutter/lib/ui/ui_dart_state.cc(199)] Unhandled Exception: type '_InternalLinkedHashMap<String, String?>' is not a subtype of type 'Map<String, String>' in type cast
E/flutter (11805): #0      Authenticator._request
package:draw/src/auth.dart:192
E/flutter (11805): #1      Authenticator.post
package:draw/src/auth.dart:147
E/flutter (11805): #2      Reddit.post
package:dra

[2021-07-31 20:50] SupremeDeity commented on #203
#202 Most likely fixes this. Waiting on a someone to merge it.

[2021-08-01 15:07] abhishekove commented on #203
Thanks, @SupremeDeity. It works for me now. The pull request must be merged.

[2021-08-02 13:47] #201 closed

[2021-08-02 13:48] bkonyi commented on #203
Thanks for being patient everyone! I've been quite busy with travel and haven't had much time to review issues/PRs. I've merged the above change, will probably publish a new version today.

[2021-08-02 13:48] #203 closed

[2021-08-02 13:53] bkonyi commented on #196
I'll be completely honest, I'm not 100% sure about refreshing authentication tokens. Calling `refresh()` should do the trick, but when in doubt, referring to the PRAW documentation should get you on the right path (DRAW shares a lot of the same logic as PRAW for authentication). Maybe [this](https://praw.readthedocs.io/en/latest/tutorials/refresh_token.html) will help?

[2021-08-02 13:53] #198 closed

[2021-08-02 14:43] SupremeDeity commented on #196
As a followup to this, for whoever wants to find a answer. What i am currently doing is storing the refresh token with SharedPreferences and using the restoreInstalledFlow or whatever its called function. If i understood the code correctly, the refresh token should not expire, the auth token will though.

[2021-08-02 14:43] #196 closed

[2021-08-02 14:49] SupremeDeity commented on #188
I know this is late but:
1) Once i get to this point in my app, I will test and provide a solution

2) A full stack detail would have been handy, as i am not sure if its you doing something wrong or DRAW, because this error means you are trying to access a Map<int, dynamic> or a List with a String using the [ ] operator. Which would just not work.

[2021-08-03 17:13] brianrobles204 opened #204 "Some tests for this package fail in sound null-safety mode"
Hello,

I was using this package in my app just fine, but I noticed when I fully migrated my app to null safety and turned on `sound mode` that I was burned by this (now fixed) issue #203. I was curious why tests didn't catch this and it turns out that tests for this package are running in unsound mode because of the [reply dev dependency](https://pub.dev/packages/reply).

I tried creating a [fork

[2021-08-08 08:50] SupremeDeity commented on #204
Do you want to create a **PR** for this?

I think its fine as long the tests run on sound null safety by default.

Before 2.x.x, this repo really needs a better documentation for some of its functions and complete sound null safety.

[2021-08-08 16:00] brianrobles204 commented on #204
Well the original `reply` dependency seems to be abandoned, the GitHub repo is archived. I could publish my null-safe fork and submit a PR for this package so it uses the forked dev dependency

The alternative is to rewrite the test code to completely drop the `reply` dependency, but that's more involved

Is the first way acceptable?

[2021-08-08 17:07] SupremeDeity commented on #204
I unfortunately cannot give a exact answer to this. The actual author of this repo is busy with travel and as such gets little time to reply. We can only wait for now.

[2021-08-09 07:38] SupremeDeity commented on #188
This should get fixed as #204 gets resolved.

[2021-08-09 15:38] bkonyi commented on #204
Thanks for your patience! It's been busy for me lately... :-(

Yes, `reply` is unfortunately abandoned by the original author (it was never even explicitly migrated to Dart 2.0) but moving off of the package would be quite painful. I think it's probably worth pulling in a fork to a new `third_party/reply` directory and migrating it to support null safety. I wouldn't expect that to be too difficult

[2021-08-09 16:37] brianrobles204 commented on #204
Hello, I submitted a PR with the forked `reply` dev dependency in a `third_party` folder as suggested by @bkonyi :)

The tests should fail now since they should be running in sound mode. I can prepare a PR to fix the exceptions unless @SupremeDeity wants to

[2021-08-09 16:39] SupremeDeity commented on #204
If you want to then go ahead, otherwise i will run the tests and fix the exceptions after i am done with #205

[2021-08-10 08:55] SupremeDeity commented on #171
**A summary of whatever is below:**
**Access Token**: Expires after 1 hour of issuance.
**Refresh Token**: Can be used to get a access token indefinitely. Expires 1 year after last usage. Use restoreInstalledFlow() with this.

**A more detailed version**:
@bkonyi You need to decide whether or not the `implicit` flow is needed. I personally think its not needed for reddit.

We don't need a for onCr

[2021-08-13 22:18] bkonyi opened #209 "Investigate web authentication test failure"
Seems like the authentication flow response has changed so we're unable to find the authentication code in the result.

[2021-08-14 11:15] SupremeDeity commented on #209
Take a look at #211.

[2021-08-14 11:25] SupremeDeity commented on #61
There needs to be a way to find total comments ( which are completely wrong at this point, probably doesnt include replies

[2021-08-14 11:31] SupremeDeity commented on #61
I dont know what you are doing but you need to call `refreshComments()` and use the `length` field. on it. This is the number of top-level comments(without the replies). I also need the total number (comments+replies) so that i can show it but since i have a custom implementation of a treeview for my app, i only the top-level comments so this works for me.

[2021-08-16 14:16] SupremeDeity opened #212 "Good way to get only comments"
Seriously reddit's api is annoying me to the point i just am on the verge of quitting.

Is there a good way to get only `Comment` List instead of getting mixed up with `MoreComment`? Or a stream which i can use to only get `Comment`. I need to use it with a `ListView`

[2021-08-18 20:27] bkonyi commented on #212
Yeah, I agree it's not super easy to use :-(

You can always get the list of comments with [CommentForest.toList()](https://pub.dev/documentation/draw/latest/draw/CommentForest/toList.html) and then do something like this:

[code]

[2021-08-18 20:28] #209 closed

[2021-08-19 08:34] SupremeDeity commented on #212
What about expanding all `MoreComments` to `Comment`?
I have tried using `replaceMore()` but does it append to `Post.submission.comments`?. It seems i keep getting a assert exception on [comment_forest.dart:40](https://github.com/draw-dev/DRAW/blob/master/lib/src/models/comment_forest.dart#L40)

[2021-08-20 09:42] SupremeDeity commented on #212
I wonder if it will be a better idea to create a `Stream`? Something which will maybe provide like 10 `Comment`s each request, meaning it will also expand `MoreComments` into `Comment`s if need be.

[2021-08-20 14:06] SupremeDeity commented on #204
This can be closed.

[2021-08-20 17:41] #204 closed

[2021-09-01 06:58] SupremeDeity opened #214 "Bugs with comment api."
The `Comment` api is currently almost unusable. I thought it was a error on my side but both the `toList()` function and `replaceMore()` function aren't working as intended. The `replaceMore()` function is not expanding the comments correctly since using this snippet should have expanded every single `MoreComment`:
[code]
However i still get a error relating to `MoreComments`. Moreover this `if` c

[2021-09-01 16:42] SupremeDeity commented on #214
With a bit more investigation, even though the code in `Comment_Forest` is a almost exact copy of praw, i dont think the code in praw or in draw actually makes it so that setting `limit` to `0` expands all the `MoreComments`

[2021-09-11 06:49] MrFrankenstein opened #215 "TypeError when accessing "variants" property of "Submission" object"
Got the following exception message while accessing _variants_ property of a _Submission_ object from my SubmissionPost class:
[code]
[code]

Additionally, I have also found that this happens only when the _variants_ field from the JSON object is not empty

[2021-09-19 14:16] SupremeDeity commented on #215
Firstly, `DRAW` is based on `PRAW` and from my knowledge `PRAW` no longer contains the `thumbnail` or `variants` fields. The reason is that these are provided dynamically and thus the only way to access them is by the using the raw object. As such i have no idea why this is even present in `DRAW`.

Secondly:

This is because the line causing the error is only called when a variant is present.

Thi

[2021-09-21 16:04] bkonyi commented on #215
If `thumbnail` and `variants` aren't present anymore in Reddit's response, we should just remove them. Either way, thanks for submitting a PR, I'll take a look.

[2021-10-12 19:47] 1t3x opened #217 "Get other information such as icon_img"
Hello,
I have a question about the usage of this api wrapper
I don't get how I am suppose to get such information like the icon_img.
I can see it showing up in debugger but I cannot call it like with the username `currentUser.displayName;`.
Can someone please explain how I cloud get the icon_img from user.me()?

Thank you

[2021-10-13 10:06] #217 closed, assigned to nobody

[2021-10-30 14:36] xBLACKICEx opened #218 "how to get subreddit icon like in PRAW"
in PRAW:
[code]
how to this with draw.
thanks for help.

[2022-02-12 04:48] MrFrankenstein commented on #218
I don't think there is. I just parse the json object from 'https://www.reddit.com/api/info.json?sr_name=' and get the icon URL from it. Let me know if you find something simpler.

[2022-02-14 17:55] bkonyi commented on #218
Wow, totally missed this one... sorry about that! I think you're looking for [`iconImage'` on the `Subreddit` class](https://pub.dev/documentation/draw/latest/draw/Subreddit/iconImage.html).

[2022-02-14 17:55] #218 closed

[2022-09-27 06:51] sapoepsilon opened #219 "Redirect doesn't work?"
Trying to use Installed app API. Created an app, installed url_launcher and uni_links. However, can't wrap my head how the redirect would work. Created a scheme `myapp://auth` as per instructions [here](https://github.com/draw-dev/DRAW/issues/196#issuecomment-891084560). The redirect is not happening, hence the app is not opening after authentication.

I, also, tried to redirect to google.com, sti

[2022-10-08 21:19] sapoepsilon commented on #219
I was using wrong clientID. Instead, of using a clientID, I was using the app name.

[2022-10-08 21:19] #219 closed